
    <div>
        <img src="img/index/logo.png" alt="layback surfcamp logo" class="logo">
    </div>
    <nav>
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">Surfcamps</a>
        <a href="#" class="nav-link">Surfcoaching & Hostel</a>
        <a href="#" class="nav-link">Camp & Team</a>
        <a href="#" class="nav-link">Blog</a>
        <a href="#" class="nav-link">Anreise & Kontakt</a>
        <a href="#" class="nav-link"><img src="img/index/united-kingdom-flag-icon.png" alt="Englische Flagge Icon" class="flag-icon"></a>
    </nav>